.card-title,
.card-description,
.card-price {
    width: 100%;
    display: flex;
    font-size: 20px;
}


.card-holder {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 90%;
    height: 150px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-title {
    font-size: 30px;
}

.section-title {
    margin-top: 5rem;
    text-align: center;
    font-size: 50px;
}

.section-title::after {
    content: '';
    display: block;
    width: 150px;
    height: 2px;
    background-color: black;
    margin: 0 auto;
}

.card-price {
    justify-content: right;
    align-items: end;
}

@media (max-width: 1024px) {
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 625px) {
    .card-holder {
        grid-template-columns: 1fr;
    }
}